<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<display-name>BaoDienTu</display-name>
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/error-404.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<servlet>
		<servlet-name>AdminAjaxActiveController</servlet-name>
		<servlet-class>controller.AdminAjaxActiveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAjaxActiveController</servlet-name>
		<url-pattern>/admin/active-news</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminLoginController</servlet-name>
		<servlet-class>controller.AdminLoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLoginController</servlet-name>
		<url-pattern>/admin/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminIndexController</servlet-name>
		<servlet-class>controller.AdminIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexController</servlet-name>
		<url-pattern>/admin/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminIndexNewsController</servlet-name>
		<servlet-class>controller.AdminIndexNewsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexNewsController</servlet-name>
		<url-pattern>/admin/index-news</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminIndexUserController</servlet-name>
		<servlet-class>controller.AdminIndexUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexUserController</servlet-name>
		<url-pattern>/admin/index-user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminInfoAccountController</servlet-name>
		<servlet-class>controller.AdminInfoAccountController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminInfoAccountController</servlet-name>
		<url-pattern>/admin/info-account</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminIndexCatController</servlet-name>
		<servlet-class>controller.AdminIndexCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexCatController</servlet-name>
		<url-pattern>/admin/index-cat</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminAddCatController</servlet-name>
		<servlet-class>controller.AdminAddCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAddCatController</servlet-name>
		<url-pattern>/admin/add-cat</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminLogoutController</servlet-name>
		<servlet-class>controller.AdminLogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogoutController</servlet-name>
		<url-pattern>/admin/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminAddNewsController</servlet-name>
		<servlet-class>controller.AdminAddNewsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAddNewsController</servlet-name>
		<url-pattern>/admin/add-news</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminEditNewsController</servlet-name>
		<servlet-class>controller.AdminEditNewsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminEditNewsController</servlet-name>
		<url-pattern>/admin/edit-news</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminDeleteNewsController</servlet-name>
		<servlet-class>controller.AdminDeleteNewsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDeleteNewsController</servlet-name>
		<url-pattern>/admin/delete-news</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminSearchNewsController</servlet-name>
		<servlet-class>controller.AdminSearchNewsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminSearchNewsController</servlet-name>
		<url-pattern>/admin/search-news</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminDeleteUserController</servlet-name>
		<servlet-class>controller.AdminDeleteUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDeleteUserController</servlet-name>
		<url-pattern>/admin/delete-user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminAddUserController</servlet-name>
		<servlet-class>controller.AdminAddUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAddUserController</servlet-name>
		<url-pattern>/admin/add-user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminSearchUserController</servlet-name>
		<servlet-class>controller.AdminSearchUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminSearchUserController</servlet-name>
		<url-pattern>/admin/search-user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicIndexCatController</servlet-name>
		<servlet-class>controller.PublicIndexCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicIndexCatController</servlet-name>
		<url-pattern>/index-cat</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminSearchCatController</servlet-name>
		<servlet-class>controller.AdminSearchCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminSearchCatController</servlet-name>
		<url-pattern>/admin/search-cat</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminDeleteCatController</servlet-name>
		<servlet-class>controller.AdminDeleteCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDeleteCatController</servlet-name>
		<url-pattern>/admin/delete-cat</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminEditCatController</servlet-name>
		<servlet-class>controller.AdminEditCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminEditCatController</servlet-name>
		<url-pattern>/admin/edit-cat</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicSearchNewsController</servlet-name>
		<servlet-class>controller.PublicSearchNewsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicSearchNewsController</servlet-name>
		<url-pattern>/search-news</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicIndexController</servlet-name>
		<servlet-class>controller.PublicIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicIndexController</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicDetailNewsController</servlet-name>
		<servlet-class>controller.PublicDetailNewsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicDetailNewsController</servlet-name>
		<url-pattern>/detail-news</url-pattern>
	</servlet-mapping>
</web-app>